@keyframes fade-in {

  0.0% {
    opacity: 0.2;
  }

  100.0% {
    opacity: 1;
    transform: translate(-100px, 0);
  }
}

.album-content {
  animation: fade-in 1.2s ease 0s normal both;
  display: flex;
  margin-right: 100px;
}

.album-content .album-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 179px;
  text-align: center;
  width: 400px;
}

.album-info h1 {
  color: #023031;
  font-size: 30px;
}

.album-info span {
  color: #023031;
  font-size: 20px;
  font-weight: 400;
}

.album-info img {
  border-radius: 10px;
  height: 290px;
  width: 290px;
}

