nav {
  align-items: center;
  background: #f0f2f5;
  display: flex;
  height: 78px;
  justify-content: space-evenly;
  margin: 0;
}

nav .search, .favorites, .profile {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 33.3%;
}

nav .selected {
  align-items: center;
  background-color: #036b52;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.favorites-songs {
  animation: to-up-favorites-songs 0.5s linear 0s 1 normal forwards;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

@keyframes to-up-favorites-songs {

  0.0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
    transform: translate(0, -50px);
  }
}

.favorites-songs .favorite-text {
  color: #001813;
  font-size: 24px;
  margin-bottom: -100px;
  margin-top: 200px;
}
