/* stylelint-disable selector-max-specificity */
.background-start {
  align-items: flex-start;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 879px;
  justify-content: flex-start;
}

.background-img {
  height: 70%;
  margin-left: 30%;
  margin-right: 20%;
  position: absolute;
  width: 70%;
}

.page-start h1, p {
  color: #29273b;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 20px;
  text-align: start;
  width: 60%;
}

.page-start h1 {
  font-size: 30px;
  margin-right: 15px;
  width: 100%;
}

.page-start p {
  margin-right: 15px;
}

.page-start {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  justify-content: center;
  margin-left: 0;
  margin-top: 200px;
  width: 50%;
}

.logo-start {
  align-items: center;
  display: flex;
  height: 158px;
  justify-content: center;
  width: 638px;
}

@keyframes fade-in {

  0.0% {
    opacity: 0.2;
  }

  100.0% {
    opacity: 1;
    transform: translate(100px, 0);
  }
}

.logo-start img {
  animation: fade-in 1.2s ease 0s normal both;
  margin-left: -16%;
  margin-top: -70px;
}

.page-start a {
  background-color: #12c097;
  border: 2px solid #023031;
  border-radius: 5px;
  color: #023031;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-right: 20px;
  padding: 8px 50px;
  width: 120px;
}

.page-start a:hover {
  box-shadow: 0 2px 25px 5px #12c097;
}

.text-start {
  align-items: center;
  animation: fade-in 1.2s ease 0s normal both;
  display: flex;
  flex-wrap: wrap;
  margin-left: -4%;
  margin-top: 10px;
  width: 67%;
}

.start-buttons {
  animation: fade-in 1.2s ease 0s normal both;
  display: flex;
  justify-content: center;
  margin-left: -11%;
  margin-top: 10px;
  width: 638px;
}

.btn-cadastro {
  background-color: transparent;
  border: none;
  color: #023031;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

@media screen and ( max-width : 794px ) and ( min-width : 500px ) {

  .page-start {
    margin-left: -50px;
    width: 100%;
  }

  .page-start p {
    font-size: 18px;
    width: 100%;
  }

  .page-start h1 {
    font-size: 22px;
  }

  .background-img {
    display: none;
  }

  .logo-start {
    margin-top: -100px;
  }

  .logo-start img {
    display: block;
    height: 150px;
    width: 200px;
  }

  .start-buttons {
    align-items: center;
    margin-left: -40px;
    margin-top: -150px;
  }

  .start-buttons a {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100px;
  }

  .text-start {
    margin-top: -100px;
  }

}

@media screen and ( max-width : 1024px ) {

  .page-start {
    margin-left: 0;
    width: 40%;
  }

  .page-start p {
    font-size: 18px;
    width: 100%;
  }

  .text-start {
    width: 100%;
  }

  .page-start h1 {
    font-size: 20px;
  }

  .background-img {
    margin-left: 52%;
    width: 40%;
  }

  .start-buttons a {
    align-items: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and ( max-width : 499px ) {

  .page-start {
    width: 100%;
  }

  .page-start p {
    font-size: 16px;
    width: 100%;
  }

  .page-start h1 {
    font-size: 18px;
  }

  .background-img {
    display: none;
  }

  .logo-start {
    margin-top: -100px;
  }

  .logo-start img {
    display: block;
    height: 150px;
    width: 200px;
  }

  .start-buttons {
    align-items: center;
    flex-direction: column;
    margin-left: -40px;
    margin-top: -150px;
  }

  .start-buttons a {
    font-size: 18px;
    margin-bottom: -30px;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 20px;
    width: 200px;
  }

  .text-start {
    margin-top: -100px;
  }

}
