body {
  align-items: center;
  display: flex;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  justify-content: center;
}

.page_login {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@keyframes fade-in {

  0.0% {
    opacity: 0.2;
  }

  100.0% {
    opacity: 1;
    transform: translate(-100px, 0);
  }
}

.login_logo {
  animation: fade-in 1.2s ease 0s normal both;
  height: 158px;
  margin-left: 100px;
  margin-top: 169px;
  width: 208px;
}

.form_login {
  align-items: center;
  animation: fade-in 1.2s ease 0s normal both;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 314px;
  justify-content: center;
  margin-left: 100px;
  margin-top: 100px;
  width: 697px;
}

.form_login input {
  border: 1px solid #e1e5eb;
  font-size: 14px;
  height: 45px;
  line-height: 21px;
  margin-bottom: 10px;
  padding: 8px 16px;
  width: 519px;
}

.form_login button {
  background: #003be5;
  border: 1px solid #003be5;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  line-height: 24px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 8px 32px;
  width: 519px;
}

form a {
  background: #003be5;
  border: 1px solid #003be5;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  line-height: 24px;
  padding: 8px 32px;
  text-align: center;
  width: 453px;
}

