@keyframes to-up-profile {

  0.0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
    transform: translate(0, -50px);
  }
}

.profile {
  animation: to-up-profile 0.5s linear 0s 1 normal forwards;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

nav .topic-search, .topic-favorites, .topic-profile {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 33.3%;
}

nav .topic-favorites, .topic-profile {
  border-left: 4px solid white;
}

nav .select {
  background-color: #036b52;
}

nav .select a {
  color: white;
}

.profile .edit img {
  border-radius: 50%;
  height: 100px;
  margin-top: 0;
  width: 100px;
}

.profile .edit a {
  border: 1px solid #003be5;
  border-radius: 5px;
  color: #003be5;
  font-size: 16px;
  font-weight: 100;
  padding: 5px 10px;
}

.profile .edit a:hover {
  background-color: #003be5;
  box-shadow: 0 2px 25px 5px #bdbdbd;
  color: white;
  transition: 1s;
}

.profile .edit {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  width: 100%;
}

.info-profile {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
}

.info-profile span {
  color: #3d495c;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-left: 105px;
}

.info-profile p {
  color: #3d495c;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 150%;
  margin-left: 105px;
}

@media screen and ( max-width : 700px ) {

  .profile {
    width: 80%;
  }

  .profile .edit img {
    height: 80px;
    width: 80px;
  }

  .info-profile span, .info-profile p {
    margin-left: 0;
  }

  .info-profile p {
    display: flex;
    justify-content: center;
  }

  .info-profile {
    align-items: center;
    display: flex;
  }
}
